.env

*.log
*.csv
*.db
*.json
*.txt
*.html
*.xml
*.jsonl
*.jsonl.gz
*.jsonl.tar.gz
*.jsonl.tar
*.jsonl.tar.bz2
*.jsonl.tar.xz
*.jsonl.tar.lzma
*.jsonl.tar.7z
*.jsonl.tar.rar
*.jsonl.tar.wim
*.jsonl.tar.iso
*.jsonl.tar.udf
*.jsonl.tar.udf.gz
*.jsonl.tar.udf.bz2     
*.jsonl.tar.udf.7z
*.jsonl.tar.udf.rar
*.jsonl.tar.udf.wim
*.jsonl.tar.udf.iso
*.jsonl.tar.udf.udf
*.jsonl.tar.udf.udf.gz
*.jsonl.tar.udf.udf.bz2
*.jsonl.tar.udf.rar
*.jsonl.tar.udf.wim
*.jsonl.tar.udf.iso
*.jsonl.tar.udf.udf
*.jsonl.tar.udf.udf.gz
*.jsonl.tar.udf.udf.bz2
